.root {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.playbackRate {
  margin: 0 1rem;
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
  text-align: right;
}

.playButton {
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #eee;
  color: #333;
}

