.root {
  padding: var(--space-xsmall);
  text-align: center;
}

.playbackRate {
  margin: 0 1rem;
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: right;
}

.playButton {
  min-width: 6em;
}
