.root {
  padding: var(--space-xsmall);
  text-align: center;
}

.playbackRate {
  margin: 0 1rem;
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: right;
}

.playButton {
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #eee;
  color: #333;
}
