:root {
  --space-xxxsmall: 4px;
  --space-xxsmall: 8px;
  --space-xsmall: 12px;
  --space-small: 16px;
  --space: 24px; /* @TODO retire */
  --space-medium: 24px;
  --space-large: 32px;
  --space-xlarge: 40px;

  --size-xsmall: 0.77rem;
  --size-small: 0.92rem;
  --size: 1rem;
  --size-large: 1.14rem;
  --size-xlarge: 1.43rem;
  --size-xxlarge: 1.71rem;
  --size-xxxlarge: 2.43rem;

  --line-height: var(--space-medium);

  --color-dark: #171717;

  --color-gray-xlight: #fafafa;
  --color-gray-light: #eaeaea;
  --color-gray: #aaaaad;
  --color-gray-dark: #5a5a5b;

  --color-red: #ff8a8e;
  --color-green: #439a86;
  --color-yellow: #fff1a6;
  --color-yellow-50: #fffde7;
  --color-blue: #53a2be;
  --color-light: #fff;

  --color-primary: #3A455D;
  --color-secondary: var(--color-green);

  --max-width: 72rem;
}

body {
  color: var(--color-gray-dark);
}

html,
body {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  letter-spacing: -0.01em;
  color: var(--color-dark);
}

code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
